html, body {
   margin: 0;
}

#img-fundo {
   background: url(img/fundo.jpg);
   height: 100%;
   text-align: center;
   background-size: cover;    
}

#titulo1 {
   color: aliceblue;
   padding-top: 10%;
   font-size: 70px;
   

}

#titulo2 {
   color: aliceblue;
   padding-left: 20%;
   padding-right: 20%;
}

#link {
   color: aliceblue;
   border: 3px rgb(61, 171, 185) solid;
   padding: 10px 20px 10px 20px;
   
}

.coluna {
   float: left;
   padding: 3% 5%;
   position: relative;
}

.dois {
   width: 40%;
}

.centralizado {
   text-align: center;
}

.justificar{
   text-align: justify;
}


section {
   padding: 2%;
   float: left;
}


.destaque {
   background-color: rgb(29, 195, 201)
}

.quatro {
   width: 15%;
}

.icone {
   width: 51px;
}

.tres {
   width: 29%;
   padding: 0 2%;
}

.imgeco {
   width: 90%;
   height: 50%;
}

#selecao {
   background-color: rgb(16, 164, 125);
}

.selecao {
   background-color: black;
}




.corzinha2 {
   color: aliceblue;

}

#logodiv {
   width: 100%;
   position: relative;
   text-align: center;
   padding: 0px;
}

#logo1 {
   margin-left: 0px;
   transform: translateX(-50%);
}

#logo {
   width: 96px;
   position: absolute;
   top: 10px;
   margin-left: -48%;

}

#menu {
   float: right;
   margin-right: 5%;
   list-style: none;
   margin-top: 0px;
}

li {
   float: left;
   padding: 20 10 20 10;
}

li:hover {
   background-color: rgb(11, 108, 88);
  
}

header {
   background-color: black;
   color: aliceblue;
   height: 60px;
   width: 100%;
   position: fixed;
   z-index: 10;
}